/**
 * This file is part of BNS Login
 *
 * Copyright 2009-2016  Edward Caissie  (email : edward.caissie@gmail.com)
 *
 * BNS Login is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License version 2, as published by the
 * Free Software Foundation.
 *
 * You may NOT assume that you can use any other version of the GPL.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program; if not, write to the:
 *      Free Software Foundation, Inc.
 *      51 Franklin St, Fifth Floor
 *      Boston, MA  02110-1301  USA
 *
 * The license for this software can also likely be found here:
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * @version	2.4
 * @date	October 4, 2014
 * Minor inline documentation updates for clarification
 */

/**
 * Use the basic style elements below in `bns-login-custom-style.css` as a start
 *
 * To maintain your custom styles through future updates make all of your edits
 * to the "custom" stylesheets as those made in this one will be over-written.
 */

.bns-login {
	clear: both;
	text-align: center;
}

.blog-credits .bns-login {
	clear: both;
	text-align: right;
}

/** Placeholders */
div#bns-logged-in {
}

div#bns-logged-in a {
}

div#bns-logged-out {
}

div#bns-logged-out a {
}